body {
  width: 500px;
}

.container {
  padding: 10px 20px;
}

button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 0 10px;
  height: 40px;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: rgb(18, 117, 18);
  color: white;
}

.flex {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

label {
  width: 200px;
  font-size: 1rem;
}

input,
textarea {
  width: 100%;
  border: 1px solid #666;
  border-radius: 5px;
  height: 30px;
}

#saved {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  transition: all 0.2s ease-in-out;
}

#saved:hover {
  background-color: green;
  color: white;
}
